.slds-button {
    width: 100px; /* Adjust as needed */
    text-align: center;
    font-weight: 400;
    font-family: "Salesforce Sans", Arial, sans-serif !important;
}
/* .last-step-buttons { */
    /* display: flex;  */
    /* Aligns child buttons horizontally */
    /* justify-content: space-between;  */
    /* Evenly distributes space between buttons */
/* } */

/* .last-step-buttons button {
    flex: 1; */
     /* Makes all buttons equal width */
    /* margin: 0 0.5rem; */
     /* Adds spacing between buttons */
    /* text-align: center; */
     /* Ensures text is centered */
    /* min-width: 30px; */
     /* Sets a reasonable minimum width */
/* } */