.container {
  border: 1px solid #C3C5C8;
  border-radius: 13px;
  height: 100%;
  overflow: auto;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.actionBtn {
  --slds-c-button-brand-color-background: #E7AF28;
  --slds-c-button-brand-color-background-active: #E7AF28;
  --slds-c-button-brand-color-background-hover: #E7AF28;
  --slds-c-button-brand-color-border: #E7AF28;
  --slds-c-button-brand-color-border-hover: #E7AF28;
  --slds-c-button-color-border-active: #E7AF28;
}

.clsBtn {
  --slds-c-button-outline-brand-color-border: #CD950F;
  --slds-c-button-outline-brand-color-border-hover: #CD950F;
  --slds-c-button-color-border-active: #CD950F;
  --slds-c-button-text-color: #000000;
  --slds-c-button-text-color-active: #000000;
  --slds-c-button-text-color-hover: #000000;
  background: none;
}

.active {
  background-color: white;
  border: 2px solid #E7AF28;
  border-left: 4px solid #E7AF28;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  position: relative;
  left: 2px;
}

.full-width-button {
  display: grid;
}

.subProduct_flex {
  flex-grow: 1;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  height: 30rem;
  overflow: auto;
  transition: width 1s ease;
}

.nav-expanded-small-screen {
  width: 57vw;
  height: 60vh;
  border-radius: 5px;
  overflow: auto;
}

.facet_sidebar {
  border-radius: 4px;
}

/* (min-height: 720px) and (max-height: 767px) and  */
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .facet_sidebar {
    border-radius: 4px;
  }

  .widthFix {
    /* width: 80%; */
  }
}

/* (max-height: 768px) and (max-height: 1079px) and  */
@media screen and (min-width: 1366px) and (max-width: 1740px) {
  .facet_sidebar {
    border-radius: 4px;
  }
}

/* (max-height: 1080px) and (max-height: 1200px) and */
@media screen and (min-width: 1741px) and (max-width: 1800px) {
  .facet_sidebar {
    border-radius: 4px;
  }
}

.kpi-container::-webkit-scrollbar,
.container::-webkit-scrollbar,
.subProduct_flex::-webkit-scrollbar,
.absolute-div::-webkit-scrollbar,
.override-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  scroll-behavior: smooth;
}

/* Media query for mobile devices */
@media (max-width: 767px) {

  .kpi-container::-webkit-scrollbar,
  .container::-webkit-scrollbar,
  .subProduct_flex::-webkit-scrollbar,
  .absolute-div::-webkit-scrollbar,
  .override-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.kpi-container::-webkit-scrollbar-track,
container::-webkit-scrollbar-track,
.subProduct_flex::-webkit-scrollbar-track,
.absolute-div::-webkit-scrollbar-track,
.override-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.kpi-container::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-thumb,
.subProduct_flex::-webkit-scrollbar-thumb,
.absolute-div::-webkit-scrollbar-thumb,
.override-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

.totalPay {
  font-size: medium;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  padding: 3px 2px;
}

.layout {
  font-family: 'Work Sans', sans-serif;
  display: grid;
  overflow: hidden;
  grid-template-rows: 32px 1fr;
  grid-template-columns: 0.4fr 0.4fr 0.7fr;
  width: 350px;
  border-radius: 5px;
}

.radio-none {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(245, 245, 245);
  transition: background 1.0s, padding-left 0.2s;
  padding-left: 0;

  .radio-none:checked+.page+& {
    background: #b3dcfc;
    color: #1f75ff;
    font-weight: bold;
    border: 1px solid #1f75ff;
    border-radius: 5px;
  }
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.page-contents>* {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;

  @for $c from 1 through 20 {
    &:nth-child(#{$c}) {
      transition-delay: 0.5s + ($c * 0.5s);
    }
  }
}

input[type="radio"]+.page {
  transition: transform 0.5s;
  transform: translateX(100%);
}

input[type="radio"]:checked+.page {
  transform: translateX(0%);

  .page-contents>* {
    opacity: 1;
    transform: translateY(0px);
  }
}

.tick-icon {
  --slds-c-icon-color-foreground-default: green;
}

.slds-tabs_default__item.slds-active:after {
  background-color: #E7AF28;
}

.slds-tabs_default__item:hover:after {
  background-color: #E7AF28;
}

.slds-active {
  font-weight: 600 !important;
}

.cellPadding {
  padding-left: 10px;
}

.kpiContainer {
  min-height: 100%;
}

.slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-has-focus) {
  box-shadow: none !important;
}

.slds-table_bordered {
  border-bottom: none !important;
}

.slds-table:not(.slds-no-row-hover) tbody tr:hover>td {
  background-color: #f4eee0 !important;
}

.checkBtn {
  background-color: white;
  border: 1px solid #E7AF28;
  border-radius: 15px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.absolute-div {
  position: absolute;
  height: fit-content;
  background-color: white;
  border: 1px solid #DDDBDA;
  box-shadow: 0px 5px 10px 5px #EEEEEE;
  border-radius: 0px 0px 7px 7px;
  margin-top: -4px;
  z-index: 2;
  max-height: 450%;
  overflow-y: auto;
  transition: all .5s ease;
  transform: translateY(0);
  padding: 15px;
  width: 96.3%;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: rgb(239, 239, 239);
  transform: rotateY(180deg);
  overflow: auto;
}

.flipped {
  transform: rotateY(180deg);
}

:host {
  display: block;
  padding: 1rem;
}

.wrapper {
  color: green;
  max-width: 400px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.input-ranges[type='range'] {
  width: 100%;
  height: 5px;
  outline: none;
}

.input-ranges[type='range'],
.input-ranges[type='range']::-webkit-slider-runnable-track,
.input-ranges[type='range']::-webkit-slider-thumb {
  background: none;
  accent-color: green;
}

.input-ranges[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 2px;
}

.input-ranges[type='range']::-webkit-slider-thumb {
  position: relative;
  margin-top: -7px;
  background: #fff;
  border: 1px solid var(--color-headline);
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.input-ranges[type='range']::-webkit-slider-thumb:hover {
  background: red;
  border: 1px solid var(--color-primary);
  outline: .5px solid var(--color-primary);
}

.input-ranges[type='range']::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.rangeslider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.rangeslider input {
  position: absolute;
}

.rangeslider span {
  position: absolute;
  margin-top: 20px;
  left: 0;
}

.rangeslider .right {
  position: relative;
  float: right;
  margin-right: -5px;
}

.target,
.target[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none;
  background: orange;
}

.target[type='range']::-webkit-slider-thumb {
  border: none;
  border-radius: 0px;
  height: 15px;
  width: 5px;
}

.table-footer {
  background: rgb(247, 247, 247);
  font-size: 15px;
  font-weight: 700;
}

.kpi-container {
  overflow: auto;
}

.kpi-cards {
  background: #F8F8F8;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 15px;
}

.counter {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  transition: all 2s ease-in-out;
}

.totEarning {
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px;
  font-weight: 600;
}

.cursor_pointer {
  cursor: pointer;
}

.slds-carousel__content {
  background: transparent
}

.text_size {
  font-size: 22px;
  font-weight: 800;
}

.incentive-container {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background: white;
}

.help-table {
  text-align: center;
}

.totalProductpayout {
  text-decoration: line-through;
}

.redColor {
  --sds-c-icon-color-foreground-default: #E33434;
  cursor: pointer;
}

.slds-carousel__indicator-action {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.radio-option label {
  margin-left: 5px;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #d8dde6;
  border-radius: 50%;
  position: relative;
  background-color: white;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .radio-group {
    align-items: flex-start;
  }

  .radio-option {
    margin-right: 0;
  }

  .second-radio {
    padding-left: 15px;
  }

  .total-section {
    /* justify-content: space-evenly; */
    border-right: none !important;
  }
}

.total-section {
  border-right: 1px solid #D4D4D4;
}

/* Apply a smooth transition to the height of the dropdown */
.dropdown {
  height: 0;
  overflow: hidden;
  transition: height 2s ease;
}

.arrow-icon {
  cursor: pointer;
}

.custom-helptext .slds-popover__body {
  white-space: pre-wrap;
}